<a href="https://colab.research.google.com/github/devmatsuko/PBL-06/blob/main/PBL06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PBL06_データマーケティング

## ライブラリのインポート

In [2]:
# pandas_profilingのインストール
!pip install git+https://github.com/pandas-profiling/pandas-profiling.git

Collecting git+https://github.com/pandas-profiling/pandas-profiling.git
  Cloning https://github.com/pandas-profiling/pandas-profiling.git to /tmp/pip-req-build-4g44ex63
  Running command git clone -q https://github.com/pandas-profiling/pandas-profiling.git /tmp/pip-req-build-4g44ex63
Requirement already satisfied (use --upgrade to upgrade): pandas-profiling==2.10.0 from git+https://github.com/pandas-profiling/pandas-profiling.git in /usr/local/lib/python3.6/dist-packages
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (1.0.0)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (1.4.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (1.1.5)
Requirement already satisfied: matplotlib>=3.2.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (3.2.2)
Requirement already satisfied: confuse>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (1.4.0)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (2.11.2)
Requirement already satisfied: visions[type_image_path]==0.6.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (1.19.4)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (20.3.0)
Requirement already satisfied: htmlmin>=0.1.12 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.4.2)
Requirement already satisfied: phik>=0.10.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.10.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.6 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.0.6)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (2.25.1)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (4.55.2)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (7.5.1)
Requirement already satisfied: seaborn>=0.10.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.10.0) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.2.0->pandas-profiling==2.10.0) (1.3.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse>=1.0.0->pandas-profiling==2.10.0) (3.13)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->pandas-profiling==2.10.0) (1.1.1)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (2.5)
Requirement already satisfied: imagehash; extra == "type_image_path" in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (4.2.0)
Requirement already satisfied: Pillow; extra == "type_image_path" in /usr/local/lib/python3.6/dist-packages (from visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (7.0.0)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik>=0.10.0->pandas-profiling==2.10.0) (0.48.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling==2.10.0) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling==2.10.0) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling==2.10.0) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.24.0->pandas-profiling==2.10.0) (3.0.4)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.10.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.3.3)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.0.8)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==2.10.0) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx>=2.4->visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (4.4.2)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.6/dist-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.6.0->pandas-profiling==2.10.0) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.10.0->pandas-profiling==2.10.0) (51.1.1)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik>=0.10.0->pandas-profiling==2.10.0) (0.31.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (2.6.1)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.3.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.2.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (4.7.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (2.6.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.3.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (20.0.0)
Requirement already satisfied: terminado>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.9.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (5.6.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (1.5.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (3.2.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.8.4)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (1.4.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (20.8)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.5.1->pandas-profiling==2.10.0) (0.5.1)
Building wheels for collected packages: pandas-profiling
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.10.0-py2.py3-none-any.whl size=239950 sha256=6ad68fb1be08b9a98f1810f9cd73a1c33bc0bfafaab725e49b4c96060cec7a22
  Stored in directory: /tmp/pip-ephem-wheel-cache-abp9bda9/wheels/cd/13/75/8fcecd52c706914e90d916ede57f8c74de60e4c9ebc6c2f3b7
Successfully built pandas-profiling

In [3]:
# pandas_profilingのインストール確認
!pip show pandas_profiling

Name: pandas-profiling
Version: 2.10.0
Summary: Generate profile report for pandas DataFrame
Home-page: https://github.com/pandas-profiling/pandas-profiling
Author: Simon Brugman
Author-email: pandasprofiling@gmail.com
License: MIT
Location: /usr/local/lib/python3.6/dist-packages
Requires: phik, tqdm, jinja2, attrs, confuse, seaborn, matplotlib, numpy, requests, pandas, joblib, htmlmin, scipy, tangled-up-in-unicode, ipywidgets, missingno, visions
Required-by:

In [4]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import warnings
from pandas_profiling import ProfileReport
from pandas_profiling.utils.cache import cache_file
warnings.filterwarnings('ignore')

## データの読み込み

In [5]:
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/train.csv')
test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/test.csv")
coupon = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/coupon.csv')
customer = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/customer.csv")
purchase = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data/purchase_history.csv")

## 読み込んだデータの詳細を表示

In [6]:
train.info()
train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   顧客ID    3916 non-null   int64
 1   クーポンID  3916 non-null   int64
 2   クーポン利用  3916 non-null   int64
dtypes: int64(3)
memory usage: 91.9 KB

      顧客ID  クーポンID  クーポン利用
0        1       1       0
1        1       2       0
2        1       3       0
3        1       4       0
4        1       5       0
...    ...     ...     ...
3911   356       7       0
3912   356       8       0
3913   356       9       0
3914   356      10       0
3915   356      11       0

[3916 rows x 3 columns]

In [7]:
test.info()
test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3916 entries, 0 to 3915
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   顧客ID    3916 non-null   int64
 1   クーポンID  3916 non-null   int64
dtypes: int64(2)
memory usage: 61.3 KB

      顧客ID  クーポンID
0      357       1
1      357       2
2      357       3
3      357       4
4      357       5
...    ...     ...
3911   712       7
3912   712       8
3913   712       9
3914   712      10
3915   712      11

[3916 rows x 2 columns]

In [8]:
# クーポン情報（クーポンIDとクーポンを使用できる商品カテゴリの対応）を表示
coupon.info()
coupon

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   クーポンID    11 non-null     int64
 1   商品カテゴリID  11 non-null     object
 2   商品カテゴリ    11 non-null     object
dtypes: int64(1), object(2)
memory usage: 392.0+ bytes

    クーポンID 商品カテゴリID      商品カテゴリ
0        1       c1        米・パン
1        2       c2           肉
2        3       c3          海鮮
3        4       c4        自然食品
4        5       c5        即席食品
5        6       c6          惣菜
6        7       c7          飲料
7        8       c8      食料品その他
8        9       c9        医薬品類
9       10      c10  スキンケア・ヘアケア
10      11      c11        花・植物

In [9]:
# 顧客の属性情報を表示
customer.info()
customer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   顧客ID    712 non-null    int64
 1   年齢層     712 non-null    object
 2   既婚・独身   377 non-null    object
 3   家族人数    712 non-null    object
 4   子供人数    184 non-null    object
 5   持家      712 non-null    int64
 6   年収レベル   712 non-null    int64
dtypes: int64(3), object(4)
memory usage: 39.1+ KB

     顧客ID    年齢層 既婚・独身 家族人数 子供人数  持家  年収レベル
0       1  40-49   NaN    1  NaN   0      5
1       2    70+   NaN    1  NaN   0      5
2       3  40-49    独身   5+   3+   0      2
3       4  50-59    既婚   5+   3+   0      9
4       5  20-29   NaN    2  NaN   0      4
..    ...    ...   ...  ...  ...  ..    ...
707   708  60-69    既婚    2  NaN   0      2
708   709  60-69    既婚    2  NaN   0      5
709   710  50-59   NaN    2  NaN   0      6
710   711  50-59   NaN    1  NaN   0     10
711   712  50-59   NaN    3    1   0      9

[712 rows x 7 columns]

In [10]:
# 各顧客の直近2ヶ月の購買履歴を表示 
# ※c1=クーポン1, c2=クーポン2, ... c11=クーポン11を表し、クーポンの商品カテゴリ別の購入回数、購入商品数、クーポン割引金額、購入金額の情報が含まれる
# ※「経過日数」は前回の来店から経過した日数を表す
purchase.info()
purchase

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   顧客ID        712 non-null    int64
 1   c1_購入回数     712 non-null    int64
 2   c1_購入商品数    712 non-null    int64
 3   c1_クーポン割引   712 non-null    int64
 4   c1_購入金額     712 non-null    int64
 5   c2_購入回数     712 non-null    int64
 6   c2_購入商品数    712 non-null    int64
 7   c2_クーポン割引   712 non-null    int64
 8   c2_購入金額     712 non-null    int64
 9   c3_購入回数     712 non-null    int64
 10  c3_購入商品数    712 non-null    int64
 11  c3_クーポン割引   712 non-null    int64
 12  c3_購入金額     712 non-null    int64
 13  c4_購入回数     712 non-null    int64
 14  c4_購入商品数    712 non-null    int64
 15  c4_クーポン割引   712 non-null    int64
 16  c4_購入金額     712 non-null    int64
 17  c5_購入回数     712 non-null    int64
 18  c5_購入商品数    712 non-null    int64
 19  c5_クーポン割引   712 non-null    int64
 20  c5_購入金額     712 non-null    int64
 21  c6_購入回数     712 non-null    int64
 22  c6_購入商品数    712 non-null    int64
 23  c6_クーポン割引   712 non-null    int64
 24  c6_購入金額     712 non-null    int64
 25  c7_購入回数     712 non-null    int64
 26  c7_購入商品数    712 non-null    int64
 27  c7_クーポン割引   712 non-null    int64
 28  c7_購入金額     712 non-null    int64
 29  c8_購入回数     712 non-null    int64
 30  c8_購入商品数    712 non-null    int64
 31  c8_クーポン割引   712 non-null    int64
 32  c8_購入金額     712 non-null    int64
 33  c9_購入回数     712 non-null    int64
 34  c9_購入商品数    712 non-null    int64
 35  c9_クーポン割引   712 non-null    int64
 36  c9_購入金額     712 non-null    int64
 37  c10_購入回数    712 non-null    int64
 38  c10_購入商品数   712 non-null    int64
 39  c10_クーポン割引  712 non-null    int64
 40  c10_購入金額    712 non-null    int64
 41  c11_購入回数    712 non-null    int64
 42  c11_購入商品数   712 non-null    int64
 43  c11_クーポン割引  712 non-null    int64
 44  c11_購入金額    712 non-null    int64
 45  来店頻度        712 non-null    int64
 46  経過日数        712 non-null    int64
 47  総購入金額       712 non-null    int64
dtypes: int64(48)
memory usage: 267.1 KB

     顧客ID  c1_購入回数  c1_購入商品数  c1_クーポン割引  ...  c11_購入金額  来店頻度  経過日数   総購入金額
0       1        1         2          0  ...         0     9    19   56562
1       2        0         0          0  ...         0    13     6   37313
2       3        0         0          0  ...         0    13     8   47058
3       4        2         3          0  ...         0    14    27  122515
4       5        1         1          0  ...         0     6    48   24250
..    ...      ...       ...        ...  ...       ...   ...   ...     ...
707   708        1         1          0  ...      5464    14     7   46228
708   709       15        15          0  ...      2669    22     3   85838
709   710        0         0          0  ...         0     1    58    3214
710   711       11        16          0  ...      3025    50     1  271138
711   712        2         2          0  ...         0     3    54   20545

[712 rows x 48 columns]

## train,testデータと他データの結合

### trainと顧客属性を結合(顧客ID、クーポンIDをキーに、クーポンごとの使用回数と顧客情報が載る)

In [11]:
# trainと顧客属性を結合(顧客ID、クーポンIDをキーに、クーポンごとの使用回数と顧客情報が載る)
merge_train = pd.merge(train, customer, on='顧客ID', how='left')
merge_train

      顧客ID  クーポンID  クーポン利用    年齢層 既婚・独身 家族人数 子供人数  持家  年収レベル
0        1       1       0  40-49   NaN    1  NaN   0      5
1        1       2       0  40-49   NaN    1  NaN   0      5
2        1       3       0  40-49   NaN    1  NaN   0      5
3        1       4       0  40-49   NaN    1  NaN   0      5
4        1       5       0  40-49   NaN    1  NaN   0      5
...    ...     ...     ...    ...   ...  ...  ...  ..    ...
3911   356       7       0  50-59    独身    2  NaN   0      4
3912   356       8       0  50-59    独身    2  NaN   0      4
3913   356       9       0  50-59    独身    2  NaN   0      4
3914   356      10       0  50-59    独身    2  NaN   0      4
3915   356      11       0  50-59    独身    2  NaN   0      4

[3916 rows x 9 columns]

### trainと顧客属性を結合した物に、さらに購買履歴を結合する

In [12]:
# trainと顧客属性を結合した物に、さらに購買履歴を結合する
merge_train = pd.merge(merge_train, purchase, on='顧客ID', how='left')
merge_train

      顧客ID  クーポンID  クーポン利用    年齢層  ... c11_購入金額 来店頻度 経過日数  総購入金額
0        1       1       0  40-49  ...        0    9   19  56562
1        1       2       0  40-49  ...        0    9   19  56562
2        1       3       0  40-49  ...        0    9   19  56562
3        1       4       0  40-49  ...        0    9   19  56562
4        1       5       0  40-49  ...        0    9   19  56562
...    ...     ...     ...    ...  ...      ...  ...  ...    ...
3911   356       7       0  50-59  ...        0    6   12  10572
3912   356       8       0  50-59  ...        0    6   12  10572
3913   356       9       0  50-59  ...        0    6   12  10572
3914   356      10       0  50-59  ...        0    6   12  10572
3915   356      11       0  50-59  ...        0    6   12  10572

[3916 rows x 56 columns]

### testと顧客情報と購買履歴を結合する

In [13]:
# testと顧客属性, 購買履歴データを結合
merge_test = pd.merge(test, customer, on='顧客ID', how='left')
merge_test = pd.merge(merge_test, purchase, on='顧客ID', how='left')

In [14]:
merge_test

      顧客ID  クーポンID    年齢層 既婚・独身 家族人数  ... c11_クーポン割引  c11_購入金額  来店頻度  経過日数  総購入金額
0      357       1    70+    既婚    2  ...          0         0     6    12  76351
1      357       2    70+    既婚    2  ...          0         0     6    12  76351
2      357       3    70+    既婚    2  ...          0         0     6    12  76351
3      357       4    70+    既婚    2  ...          0         0     6    12  76351
4      357       5    70+    既婚    2  ...          0         0     6    12  76351
...    ...     ...    ...   ...  ...  ...        ...       ...   ...   ...    ...
3911   712       7  50-59   NaN    3  ...          0         0     3    54  20545
3912   712       8  50-59   NaN    3  ...          0         0     3    54  20545
3913   712       9  50-59   NaN    3  ...          0         0     3    54  20545
3914   712      10  50-59   NaN    3  ...          0         0     3    54  20545
3915   712      11  50-59   NaN    3  ...          0         0     3    54  20545

[3916 rows x 55 columns]

## データの前処理

In [15]:
# 欠損値補完前の学習データ
merge_train.head()

   顧客ID  クーポンID  クーポン利用    年齢層 既婚・独身  ... c11_クーポン割引 c11_購入金額  来店頻度  経過日数  総購入金額
0     1       1       0  40-49   NaN  ...          0        0     9    19  56562
1     1       2       0  40-49   NaN  ...          0        0     9    19  56562
2     1       3       0  40-49   NaN  ...          0        0     9    19  56562
3     1       4       0  40-49   NaN  ...          0        0     9    19  56562
4     1       5       0  40-49   NaN  ...          0        0     9    19  56562

[5 rows x 56 columns]

In [19]:
# pandas_profiling
profile = ProfileReport(merge_train)

In [20]:
profile

Summarize dataset:   0%|          | 0/69 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
# 欠損値を処理する関数（例）
# mode()[0]は最頻値で補完している
def fill_cust(_dataframe):
    ''' データの欠損部分を、同じカラムの最頻値で埋める '''
    _df = _dataframe.copy()
    _df['既婚・独身'].fillna(_df['既婚・独身'].mode()[0], inplace=True)
    _df['年齢層'].fillna(_df['年齢層'].mode()[0], inplace=True)
    _df['家族人数'].fillna(_df['家族人数'].mode()[0], inplace=True)
    _df['子供人数'].fillna(_df['子供人数'].mode()[0], inplace=True)
    _df['持家'].fillna(_df['持家'].mode()[0], inplace=True)
    _df["年収レベル"].fillna(_df["年収レベル"].mode()[0], inplace=True)
    _df['経過日数'].fillna(_df['経過日数'].mode()[0], inplace=True)
    return _df

In [14]:
# 学習データの欠損値処理
filled_train = fill_cust(merge_train)
# テストデータの欠損値処理
filled_test = fill_cust(merge_test)

In [15]:
# 確認
filled_train.head()

   顧客ID  クーポンID  クーポン利用    年齢層 既婚・独身  ... c11_クーポン割引 c11_購入金額  来店頻度  経過日数  総購入金額
0     1       1       0  40-49    既婚  ...          0        0     9    19  56562
1     1       2       0  40-49    既婚  ...          0        0     9    19  56562
2     1       3       0  40-49    既婚  ...          0        0     9    19  56562
3     1       4       0  40-49    既婚  ...          0        0     9    19  56562
4     1       5       0  40-49    既婚  ...          0        0     9    19  56562

[5 rows x 56 columns]

In [17]:
filled_test.head()

   顧客ID  クーポンID  年齢層 既婚・独身 家族人数  ... c11_クーポン割引  c11_購入金額  来店頻度  経過日数  総購入金額
0   357       1  70+    既婚    2  ...          0         0     6    12  76351
1   357       2  70+    既婚    2  ...          0         0     6    12  76351
2   357       3  70+    既婚    2  ...          0         0     6    12  76351
3   357       4  70+    既婚    2  ...          0         0     6    12  76351
4   357       5  70+    既婚    2  ...          0         0     6    12  76351

[5 rows x 55 columns]

In [18]:
# カテゴリ変数のダミー変数化
dum_train = pd.get_dummies(filled_train.drop(["顧客ID", "クーポンID", "クーポン利用"], axis=1))
dum_test = pd.get_dummies(filled_test.drop(["顧客ID", "クーポンID"], axis=1))

In [20]:
dum_train.head()

   持家  年収レベル  c1_購入回数  c1_購入商品数  ...  家族人数_5+  子供人数_1  子供人数_2  子供人数_3+
0   0      5        1         2  ...        0       1       0        0
1   0      5        1         2  ...        0       1       0        0
2   0      5        1         2  ...        0       1       0        0
3   0      5        1         2  ...        0       1       0        0
4   0      5        1         2  ...        0       1       0        0

[5 rows x 65 columns]

In [21]:
# 学習用の説明変数（X_train）、学習用の目的変数（y_train）、評価用の説明変数（X_test）の用意
X_train = dum_train.copy()
y_train = merge_train["クーポン利用"]
X_test = dum_test.copy()

# モデリング

In [22]:
# モデルインスタンスの生成（RandomForests）
mod = RandomForestClassifier(max_depth=3, n_estimators=500)

# モデルの学習
mod.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
# 学習済みのモデルを使用してテストデータに関する予測値（予測確率）を算出する
yproba = mod.predict_proba(X_test)[:, 1]

In [24]:
yproba

array([0.00673799, 0.00673799, 0.00673799, ..., 0.00558391, 0.00558391,
       0.00558391])

# 提出用ファイルの作成

In [25]:
# 顧客ID/クーポンIDごとに予測値（予測確率）の値を並べる
submit = merge_test[["顧客ID", "クーポンID"]].copy()
submit["yproba"] = yproba

In [26]:
submit

      顧客ID  クーポンID    yproba
0      357       1  0.006738
1      357       2  0.006738
2      357       3  0.006738
3      357       4  0.006738
4      357       5  0.006738
...    ...     ...       ...
3911   712       7  0.005584
3912   712       8  0.005584
3913   712       9  0.005584
3914   712      10  0.005584
3915   712      11  0.005584

[3916 rows x 3 columns]

In [27]:
# 顧客ID × クーポンID（11列）の表になるように並び替える
submit_pivot = submit.pivot(index='顧客ID', columns='クーポンID', values='yproba')

In [28]:
submit_pivot

クーポンID        1         2         3   ...        9         10        11
顧客ID                                  ...
357     0.006738  0.006738  0.006738  ...  0.006738  0.006738  0.006738
358     0.005227  0.005227  0.005227  ...  0.005227  0.005227  0.005227
359     0.036442  0.036442  0.036442  ...  0.036442  0.036442  0.036442
360     0.011014  0.011014  0.011014  ...  0.011014  0.011014  0.011014
361     0.014181  0.014181  0.014181  ...  0.014181  0.014181  0.014181
...          ...       ...       ...  ...       ...       ...       ...
708     0.006145  0.006145  0.006145  ...  0.006145  0.006145  0.006145
709     0.046070  0.046070  0.046070  ...  0.046070  0.046070  0.046070
710     0.003889  0.003889  0.003889  ...  0.003889  0.003889  0.003889
711     0.062690  0.062690  0.062690  ...  0.062690  0.062690  0.062690
712     0.005584  0.005584  0.005584  ...  0.005584  0.005584  0.005584

[356 rows x 11 columns]

In [29]:
# 予測ファイルの生成
submit_pivot.to_csv("/content/drive/MyDrive/Colab Notebooks/data/my_submission.csv", header=None)